.primary{
    font-size:2vw;
    color:#ed7966;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}

.navigationButtonsPosition{
    justify-content:center;
    display:flex;
    flex-direction:column;
}


.navigationButtons{
    font-size:1.25vw;
    color:#141850;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}

.postTitle{
    font-size:1.25vw;
    color:#141850;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.top{
    display:flex;
    justify-content:space-between;
    background-color:white;
}


.deletebutton{
    font-size:0.45vw
}


.navigationbar{
    display:flex;
    gap:10px
}

.body{
    display:flex;
    justify-content: center;
    background-color: #fae5df
}

.postTitle{
    background-color: #FFFFFF	;
    border-radius: 5px;
    padding:10px;
    width:35vw  
}

.postContent{
    
    background-color: #FFFFFF	;
    border-radius: 5px;
    padding:20px;
    width:35vw;  
    height:46vw
}


.listOfPosts{
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-content: space-evenly;
    padding:5px;
}

.postCommands{
    display:flex;
    justify-content:space-between
}

.post{
    background-color: #fae5df;
    padding:5px
}